.game {
  &__screen {
    padding: 10px;

    &__header {
      border: 1px solid var(--surface-d);

      .character {
        display: flex;

        &__name {
          display: flex;
          text-align: center;
          font-weight: bold;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0 7px;

          h2, h3 {
            margin: 0;
          }
        }

        &__stats {
          width: 100%;
          border-left: 1px solid var(--surface-d);

          .row {
            display: flex;
            align-items: center;

            &:nth-child(2) {
              border-top: 1px solid var(--surface-d);
              border-bottom: 1px solid var(--surface-d);
            }

            span {
              width: 10%;
              text-align: center;
            }

            .progress-bar {
              width: 100%;
            }
          }
        }
      }
    }

    &__content {
      & .location {
        &__header {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          padding: 7px 0;

          p-divider {
            width: 20%;
          }

          span {
            font-size: 1.5rem;
            font-weight: bold;

            &.sub-header {
              font-size: 1.2rem;
              font-weight: normal;
            }
          }
        }

        &__description {

        }
      }
    }
  }

  &__dock {
    button {
      width: 100%;
      height: 100%;
      border-radius: 25%;

      ::ng-deep .p-button-icon {
        font-size: 2rem;
      }
    }
  }
}
