<div class="game" *ngIf="canPlay$ | async">
  <div class="game__screen">
    <div class="game__screen__header">
      <span>
        {{ (character$ | async).name }}
        <app-progress-bar [value]="0.5" [color]="'red'"></app-progress-bar>
      </span>
    </div>
    <div class="game__screen__content">
      <div class="game_screen location">
        <div class="location__header">
          <span>{{ (currentLocation$ | async).name }}</span>
          <span>{{ (currentRoom$ | async).name }}</span>
        </div>
        <div class="location__description">
          <p>{{ (currentLocation$ | async).description }}</p>
          <br />
          <p>{{ (currentRoom$ | async).description }}</p>
        </div>
      </div>
    </div>
  </div>

  <p-dock [model]="dockItems" position="bottom" class="game__dock">
    <ng-template pTemplate="item" let-item>
      <button
        pButton
        pRipple
        type="button"
        [icon]="item.icon"
        class="p-button-secondary"
        [pTooltip]="item.label + ' (' + item.hotkey + ')'"
        [showDelay]="500"
        tooltipPosition="top"
      ></button>
    </ng-template>
  </p-dock>
</div>
