.game {
  &__screen {
    padding: 10px;

    &__header {
      border-bottom: 1px solid whitesmoke;
    }

    &__content {
      & .location {
        &__header {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid whitesmoke;

          span {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }

        &__description {

        }
      }
    }
  }

  &__dock {
    button {
      width: 100%;
      height: 100%;
      border-radius: 25%;

      ::ng-deep .p-button-icon {
        font-size: 2rem;
      }
    }
  }
}
