<div class="game" *ngIf="canPlay$ | async">
  <div class="game__screen">
    <div class="game__screen__header">
      <div class="character">
        <div class="character__name">
          <h2>
            {{ (character$ | async)?.name || "Инкогнито" }}
          </h2>
          <h3>{{ (character$ | async)?.level || 0 }} УР.</h3>
        </div>

        <div class="character__stats">
          <div class="row">
            <span> ХП: </span>
            <div class="progress-bar">
              <app-progress-bar
                [value]="(character$ | async)?.healthPercent || 0"
                [color]="'red'"
                [height]="25"
              ></app-progress-bar>
            </div>
          </div>
          <div class="row">
            <span>Стамина:</span>
            <div class="progress-bar">
              <app-progress-bar
                [value]="(character$ | async)?.staminaPercent"
                [color]="'orange'"
                [height]="25"
              ></app-progress-bar>
            </div>
          </div>
          <div class="row">
            <span>Мана:</span>
            <div class="progress-bar">
              <app-progress-bar
                [value]="(character$ | async)?.manaPercent"
                [color]="'blue'"
                [height]="25"
              ></app-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p-divider></p-divider>

    <div class="game__screen__content">
      <div class="game_screen location">
        <div class="location__header">
          <span>{{ (currentLocation$ | async).name }}</span>

          <p-divider></p-divider>

          <span class="sub-header">{{ (currentRoom$ | async).name }}</span>
        </div>

        <p-divider></p-divider>

        <div class="location__description">
          <p>{{ (currentLocation$ | async).description }}</p>
          <p>{{ (currentRoom$ | async).description }}</p>
        </div>
      </div>
    </div>
  </div>

  <p-dock [model]="dockItems" position="bottom" class="game__dock">
    <ng-template pTemplate="item" let-item>
      <button
        pButton
        pRipple
        type="button"
        [icon]="item.icon"
        class="p-button-secondary"
        [pTooltip]="item.label + ' (' + item.hotkey + ')'"
        [showDelay]="500"
        tooltipPosition="top"
      ></button>
    </ng-template>
  </p-dock>
</div>
