<div class="game" *ngIf="canPlay$ | async">
  <div class="game__screen">
    <div class="game__screen__header">
      <h1>
        {{ (currentLocation$ | async).name }}
      </h1>
      <h2>
        {{ (currentRoom$ | async).description }}
      </h2>
    </div>
    <div class="game__screen__content"></div>
  </div>

  <p-dock [model]="dockItems" position="bottom" class="game__dock">
    <ng-template pTemplate="item" let-item>
      <button
        pButton
        pRipple
        type="button"
        [icon]="item.icon"
        class="p-button-secondary"
        [pTooltip]="item.label + ' (' + item.hotkey + ')'"
        [showDelay]="500"
        tooltipPosition="top"
      ></button>
    </ng-template>
  </p-dock>
</div>
