.progress {
  background-color: #e0e0e0;
  transition: 0.5s;
  position: relative;

  &__bar {
    transition: 0.5s;
    border-radius: 5px;
    transition: "width 0.5s ease-in-out";
  }

  &__value {
    position: absolute;
    left: 50%;
    top: 5px;
    font-weight: 700;
  }
}
