p-progressSpinner.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .actions-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;

    > * {
      margin: 0 10px;
    }
  }
}

div.main-screen {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;

  .location-description {
    white-space: pre-line;
  }
}

::ng-deep div.p-dialog-content {
  overflow: hidden;
}
