p-progressSpinner.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  > * {
    margin: 10px;
  }
}

div.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .actions-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;

    > * {
      margin: 0 10px;
    }
  }
}

div.main-screen {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;

  .location-description {
    white-space: pre-line;
  }
}

div.chat-screen {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 50vw;
  overflow-y: auto;
}

div.chat-input {
  width: 100%;
  display: flex;

  p-dropdown {
    ::ng-deep div.p-dropdown.p-component {
      border-radius: 0 !important;
    }
  }

  input {
    border-radius: 0;
  }
}

div.character-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  div.character {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
  }
}
