<!-- Loading -->
<p-progressSpinner
  class="loading"
  strokeWidth="8"
  fill="#EEEEEE"
  animationDuration=".5s"
  *ngIf="!connected"
>
</p-progressSpinner>

<ng-container *ngIf="connected">
  <div class="game-container">
    <div class="actions-row">
      <button
        pButton
        type="button"
        (click)="showDialog()"
        icon="pi pi-comments"
        [label]="this.displayChat ? 'Скрыть чат' : 'Показать чат'"
      ></button>

      <button
        pButton
        type="button"
        (click)="showExits()"
        icon="pi pi-info-circle"
        [label]="this.displayExits ? 'Скрыть карту' : 'Показать карту'"
      ></button>

      <p-divider layout="vertical"></p-divider>

      <h2>
        {{ (currentLocation$ | async)?.name }}
      </h2>

      <p-divider layout="vertical"></p-divider>

      <h2>
        {{ currentCharacter?.name }}
      </h2>
    </div>
    <div class="main-screen">
      <span class="location-description">
        {{ (currentLocation$ | async)?.description }}
      </span>
    </div>
  </div>
</ng-container>

<p-dialog header="Чат" [(visible)]="displayChat" [closable]="false">
  <div class="chat-screen" #chatScreen>
    <ng-container>
      <span *ngFor="let message of messages">
        <span class="chat-message">{{ message }}</span>
        <br />
      </span>
    </ng-container>
  </div>
  <div class="chat-input">
    <p-dropdown [options]="talkOptions" #type></p-dropdown>
    <div class="p-inputgroup">
      <input
        type="text"
        pInputText
        #messageInput
        (keyup.enter)="sendMessage(type.value, messageInput)"
      />
      <button
        pButton
        type="button"
        icon="pi pi-send"
        class="p-button-success"
        (click)="sendMessage(type.value, messageInput)"
      >
        Отправить
      </button>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Карта"
  [(visible)]="displayExits"
  [closable]="false"
  appendTo="body"
>
  <app-map></app-map>
</p-dialog>

<p-dialog
  header="Вход"
  [visible]="displayLogin"
  [closable]="false"
  [modal]="true"
  [draggable]="false"
>
  <div class="login-form" [formGroup]="loginForm">
    <span>Вам необходимо залогиниться чтобы продолжить</span>

    <input pInputText placeholder="Логин" formControlName="username" />
    <p-password
      placeholder="Пароль"
      [feedback]="false"
      formControlName="password"
    ></p-password>

    <button pButton type="button" label="Войти" (click)="login()"></button>
  </div>
</p-dialog>

<p-dialog
  header="Выбор персонажа"
  [visible]="displayCharacterSelect"
  [closable]="false"
  [modal]="true"
  [draggable]="false"
>
  <div class="character-select">
    <div class="character" *ngFor="let character of characters">
      <div class="character-info">
        <span class="character-name">{{ character.name }}</span>
      </div>
      <div class="character-actions">
        <button
          pButton
          type="button"
          icon="pi pi-play"
          class="p-button-rounded p-button-outlined"
          (click)="selectCharacter(character.id)"
        ></button>
      </div>
    </div>
    <p-divider></p-divider>
    <input pInputText placeholder="Только кириллица" #new />
    <button
      pButton
      type="button"
      label="Создать нового!"
      style="margin-top: 10px"
      (click)="createCharacter(new.value)"
    ></button>
  </div>
</p-dialog>
