<p-dialog
  header="Вход"
  [visible]="displayLogin"
  [closable]="false"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <div class="login">
    <div class="login__form" [formGroup]="loginForm">
      <span>Вам необходимо залогиниться чтобы продолжить</span>

      <input pInputText placeholder="Логин" formControlName="username" />
      <p-password
        placeholder="Пароль"
        [feedback]="false"
        formControlName="password"
      ></p-password>

      <p-checkbox
        label="Запомнить меня"
        name="rememberMe"
        formControlName="rememberMe"
        [binary]="true"
      ></p-checkbox>

      <button pButton type="button" label="Войти" (click)="login()"></button>
    </div>
  </div>
</p-dialog>

<p-confirmDialog header="Подтверждение сохранения данных" icon="pi pi-exclamation-triangle">
</p-confirmDialog>
