div.map {
  height: 500px;
  width: 500px;

  & .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__container {
    transition-duration: 0.3s;

    position: relative;

    height: 100%;
    width: 100%;
  }

  &__chunk {
    position: absolute;

    border: 5px solid var(--surface-800);

    width: 75px;
    height: 75px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__arrow {
      position: absolute;
      width: 100%;

      &.location-change {
        &:before {
          background-color: red !important;
        }

        &:after {
          border-left-color: red !important;
        }
      }

      &:after {
        content: "";
        display: inline-block !important;
        width: 0;
        height: 0;
        border-left: 16px solid white;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        vertical-align: middle;
      }

      &:before {
        width: 35px;
        height: 4px;
        background: white;
        content: "";
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
